@import "./variables";
  
// Main Marque Animation
.body__inner-wrapper {
  .marquee {
    background: none;
    pointer-events: none;
    overflow: hidden;
    /* box-shadow: 0 2rem 2rem 0.4rem rgba(0, 0, 0, 0.2); */
    .marquee__inner {
      position: relative;
      background-color: var(--cl-grey-0);
      width: fit-content;
      animation: marquee 90s linear infinite;
      will-change: transform;
      span {
        color: rgb(0, 0, 0);
        font-size: map-get($typeScale, marquee);
        font-weight: 700;
        line-height: 0.8; 
        word-spacing: 96px;
        text-transform: uppercase;
        white-space: nowrap;
        /* padding: 1vh 1vw 0; */
      }
      @keyframes marquee {
        to {
            transform: translateX(-50%);
          }
        }
      }
    }
}
    
    
    

  