@import "./variables";


.post-wrapper {
    margin: 0;
    padding: 0;
    margin-bottom: 3.75rem;
    .post-container {
        margin-left: 0.75rem;
        margin-right: 0.75rem;
        margin-bottom: 1.75rem;
        .thumbnail {
            width: 100%;
            height: 25rem;
            background-color: var(--cl-grey-0);
        }
        color: var(--cl-white);
        h1 {
            font-size: map-get($typeScale, heading3);
            line-height: 111%;
            margin: 0;
        }
        p {
            margin: 0;
            margin-top: 0.75rem;
            font-size: map-get($typeScale, heading5 );
        }
        .cta-btn {
            font-size: map-get($typeScale, heading5);
            margin-top: 0.5rem;
            display: flex;
        }
    }
}

