$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;


@mixin responsive-padding($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
    
    @media (min-width: $breakpoint-sm) {
      padding: $top/2 $right/2 $bottom/2 $left/2;
    }
    
    @media (min-width: $breakpoint-md) {
      padding: $top/3 $right/3 $bottom/3 $left/3;
    }
    
    @media (min-width: $breakpoint-lg) {
      padding: $top/4 $right/4 $bottom/4 $left/4;
    }
    
    @media (min-width: $breakpoint-xl) {
      padding: $top/5 $right/5 $bottom/5 $left/5;
    }
  }
  