:root {
/* | COLORS | */     
    // Main
    --cl-primary: #092C4C;
    --cl-secondary: #F2994A;
    --cl-info: #2F80ED;
    --cl-success: #27AE60;
    --cl-warning: #E2B93B;
    --cl-error: #EB5757;
    // Default whites
    --cl-white-0: #ffffff;
    --cl-white-1: #eeeeee;
    --cl-white-2: #cccccc;
    // Grey Scale
    --cl-grey-0: #bbbbbb;
    --cl-grey-1: #999999;
    --cl-grey-2: #777777;
    --cl-grey-3: #555555;
    // Default blacks
    --cl-black-0: #000000;
    --cl-black-1: #1D1D1D;
    --cl-black-2: #282828;
}
/* | TYPE SCALE | */ 
    // Ratio: 1.414, "Augmented Fourth"
    $typeScale: (

        marquee: 127.88px * 4.4,

        heading1: 127.88px,
        heading2: 90.44px,
        heading3: 63.96px,
        heading4: 45.23px,
        heading5: 31.99px,
        heading6: 22.62px,
        p-large: 18px,
        p-root: 16px,
        mid-root: 12.5px,
        captions: 11.32px,

        extra-small: 9px,




        rwd-1: 10px,
        rwd-2: 14px,
        rwd-3: 18px,
        rwd-4: 22px,
        
        def-line-height: 1.6px,
        def-font-weight: 500,
    );
    
@mixin flexCenter($direction, $background) {
    display: flex;
    align-items: center;
    flex-direction: $direction;
    background: $background;
}   


    
/* DEFAULT TYPOGRAPHY  */

// h1 {
//     font-size: 56px;
//     line-height: 61.6px;
// }
// h2 {
//     font-size: 48px;
//     line-height: 52.8px;
// }
// h3 {
//     font-size: 40px;
//     line-height: 44px;
// }
// h4 {
//     font-size: 32px;
//     line-height: 35.2px;
// }
// h5 {
//     font-size: 24px;
//     line-height: 26.4px;
// }
// h6 {
//     font-size: 20px;
//     line-height: 22px;
// }

// p {
//     font-size: 16px;
//     line-height: 22.4px;
// }